{% load static %}
<!DOCTYPE html>


<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Solemne</title>

    <!-- Bootstrap -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

 
  </head>
  <body>
  <header>

    <div class="container">
      <div class="row">
        <!-- <div class="col-md-12">
          <a href="index.html" class="brand">
            <img src="images/logo_3.png" alt="Logo UNAB" >
          </a>
        </div> -->

        <nav class="navbar navbar-inverse navbar-cutom-menu">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <!-- <a class="navbar-brand" href="#">Brand</a> -->
              <a href="index.html" class="navbar-brand brand">
                <img src="{% static 'images/logo_3.png'%}" alt="Logo UNAB" >
              </a>

            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              
        
              <ul class="nav navbar-nav navbar-right">
                <li><a href="/">Home</a></li>
                <li><a href="#">Nosotros</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Servicios <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Servicio A</a></li>
                    <li><a href="#">Servicio B</a></li>
                    <li><a href="#">Servicio C</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Todos los servicios</a></li>
                  </ul>
                <li><a href="#">Contacto</a></li>
                </li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>

      </div>
    </div>
  </header>
      {% block content %}
          <p> Primer template del menú y footer como base, favor apretar <a href="noticias">aquí</a> o en "HOME"para continuar</p>
      {% endblock %}
  <footer>
    <div class="container">
      <div class="col-md-12">
        <p class="text-center">Desarrollo Web 2017</p>
      </div>
    </div>
  </footer>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
  </body>
</html>