{% extends './raiz.html' %}
{% load static %}
{% load thumbnail %}

 {% block content %} 
  <section>
    <div class="container">
      <div class="col-lg-12">
        <h1>{{news.titulo}} <small>{{news.categoria | truncatewords:20 }}</small></h1>
        <p><em>{{news.fecha_publicacion}}</em></p>
        {% thumbnail news.imagen "500x300" as im %}
          <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="" class="img-responsive img-thumbnail pull-left img-margin-right">
        {% endthumbnail %}
        <p>{{news.cuerpo}}</p>

          
      </div>

    </div>
  </section>
      {% endblock %}